@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9ff;
  --foreground: #151c27;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}
